Source: postgresql
Section: libs
Priority: optional
Maintainer: Tamas Pal <folti@balabit.com>
Standards-Version: 3.7.2

Package: libpq
Architecture: any
Priority: required
Description: PostgreSQL client library - runtime
 tgz2builder dummy package

Package: libpq-dev
Section: libdevel
Architecture: any
Description: PostgreSQL client library - development
 tgz2builder dummy package
